@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>


        response.Amount;
        response.BuyOrder;
        response.SessionId;
        response.TransactionDate;

    </div>
</body>
</html>
